@{
    ViewData["Title"] = "Bookish";
}

<div class="jumbotron">
    <h1 class="display-4">Welcome to Bookish!</h1>
    <p>The only place where you can view a sub-par collection of random books on a very stock looking website! :)</p>
</div>
